<!DOCTYPE html>
<html>
  <!-- Header partial -->
  <% include partials/head.ejs %>

  <body>
    <!-- Header partial -->
    <% include partials/header.ejs %>
    <main>
      <h1><%= title %></h1>
      <!-- User enters location data -->
      <form action="/weather">
        <!-- Grabbing address or zip code -->
        <label for="address">Enter an address or zipcode </label>
        <input id="address" type="text" name="address" required />
        <input type="submit" class="waves-effect waves-light btn blue" value="Search" />
      </form>

      <!-- User's asks for location data to be filled in -->
      <form action="/location">
        <!-- Grabbing address or zip code -->
        <label>Search by Location</label>
        <div>
          <input id="locationBased" type="submit" class="waves-effect waves-light btn blue" value="Get Location" />
        </div>
      </form>
    </main>
    <% include partials/footer.ejs %>
  </body>
</html>
