<!DOCTYPE html>
  <!-- head partial file -->
  <% include ../partials/head.ejs %>

  <body>
    <!-- Header partial -->
    <% include ../partials/header.ejs %>

    <div>hello <%= username %></div>
    <% favorites.forEach( (favorites) => { %>
        <div><h1><%= favorites.searchQuery %></h1></div>
        <div><%= favorites.latitude %></div>
        <div><%= favorites.longitude %></div>
    <%  }) %>

  </body>
